li {
    cursor: pointer;
}

#poster {
    height: 400px;
    width: 300px;
}

#back {
    height: 90vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}