<div id="corp">
    <form [formGroup]="contactForm" (ngSubmit)="sendCommentaire()" >
        <h1 id="itemform">Formulair de contact</h1>
        <div id="itemform"> 
            <label for="firstName">Prénom : </label>
            <input type="text" id="firstName" formControlName="firstName">
        </div>
        <div id="itemform">
          <label for="lastName">Nom : </label>
          <input type="text" id="lastName" formControlName="lastName">
        </div>
        <div id="itemform">
            <label for="age">Age : </label>
            <input type="text" id="age" formControlName="age">
        </div>
        <div id="itemform">
            <label for="checkboxHideEmail">Cacher le email: </label>
            <input type="checkbox" (click)="doCheck()" [checked]="isChecked">
        </div>
        <div *ngIf="!isChecked" id="itemform">
          <label for="email">Email : </label>
          <input type="email" id="email" formControlName="email">
        </div>
        <div id="itemform">
          <label for="comment" id="titlecomment">Ajouter un commentaire : </label>
          <textarea id="comment" formControlName="comment"></textarea>
        </div>
      
        <div id="itemform">
          <input type="submit" value="Envoyer" [disabled]="contactForm.invalid">
        </div>
      </form>
</div>
