#corp {
	height: 90vh;
	width: 100%;
	background-color: #aab9db;
	display: flex;
	justify-content: center;
	align-items: center;
}

#button {
	width: 150px;
	margin: auto;
	color: white;
	cursor: pointer;
}

#checkbox {
	display: block;
}

form {
	padding: 5px 60px 10px 60px;
	border-radius: 15px;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: auto;
	background-color: white;
}

form div input,
textarea {
	border-radius: 5px;
	background-color: #1e3d80;
	color: white;
}

form div {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	text-align: left;
}

form div>label {
	margin-bottom: 7px;
}

form div>input,
form div>textarea {
	border-radius: 5px;
	font-size: 15px;
	font-weight: 500px;
}

form div>input {
	height: 42px;
	padding-left: 15px;
}

form div>textarea {
	height: 40px;
	padding: 15px 0px 0px 10px;
}

#imgshiba{
		height: 80px;
		width: 80px;
}