<div id="corp">
    <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
            <h1>Formulair de contact <img [src]="'./../../assets/shiba3.jpeg'" alt="shiba" id="imgshiba"></h1>
        <div>
            <label for="firstName">Prénom : </label>
            <input type="text" id="firstName" formControlName="firstName" placeholder="xx">
        </div>
        <div>
            <label for="lastName">Nom : </label>
            <input type="text" id="lastName" formControlName="lastName" placeholder="xx">
        </div>
        <div>
            <label for="age">Age : </label>
            <input type="text" id="age" formControlName="age" placeholder="12">
        </div>
        <div id="checkbox">
            <label for="checkboxHideEmail">Cacher le email: </label>
            <input type="checkbox" (click)="checkEmail()" [checked]="checked">
        </div>
        <div *ngIf="!checked">
            <label for="email">Email : </label>
            <input type="email" id="email" formControlName="email" placeholder="xx@xx.xx">
        </div>
        <div>
            <label for="comment" id="titlecomment">Ajouter un commentaire : </label>
            <textarea id="comment" formControlName="comment" placeholder="xx"></textarea>
        </div>
        <div>
            <input id="button" type="submit" value="Envoyer" [disabled]="contactForm.invalid">
        </div>
    </form>
</div>