<div class="fond">
    <div id="composant">
        <div class="centered-content" *ngIf="getLastFormData !== null; else noData">
            <h1>Formulaire :</h1>
            <p>Prénom:</p>{{ getLastFormData.get('lastName').value }}
            <p>Nom:</p>{{ getLastFormData.get('firstName').value }}
            <p>Âge:</p>{{ getLastFormData.get('age').value }}
            <p *ngIf="getLastFormData.get('email').value != ''">Email:{{ getLastFormData.get('email').value }}
            </p>
            <p>Commentaire:</p> {{ getLastFormData.get('comment').value }}
        </div>
        <ng-template #noData>
            <img [src]="'./../../assets/404.jpeg'" alt="404" id="img">
        </ng-template>
    </div>
</div>