#img {
    height: 90vh;
    width: 100vw;
}

#fond {
    height: 90vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    background-color: transparent;
    height: auto;
    width: auto;
    color: rgb(25, 59, 128);
    margin: 50px 50px;
    font-size: 25px;
}

h1 {
    color: rgb(216, 52, 96);
}

#imgshiba {
    height: 150px;
    width: 150px;
    margin-left: 65%;
}