<div id="fond">
    <div id="content" *ngIf="getLastFormData != null; else noData">
        <h1>Formulaire :</h1>
        <div>
            <p>Prénom :
                {{ getLastFormData.lastName }}</p>
        </div>
        <div>
            <p>Nom:
                {{ getLastFormData.firstName }}</p>
        </div>
        <div *ngIf="getLastFormData.age != ''">
            <p>Âge:
                {{ getLastFormData.age }}</p>
        </div>
        <div>
            <p *ngIf="getLastFormData.email != ''">Email:
                {{ getLastFormData.email}}</p>
        </div>
        <div>
            <p>Commentaire:
                {{ getLastFormData.comment }}</p>
        </div>
        <div>
            <img [src]="'./../../assets/shiba.avif'" alt="shiba" id="imgshiba">
        </div>
    </div>
    <ng-template #noData>
        <img [src]="'./../../assets/404.jpeg'" alt="404" id="img">
    </ng-template>
</div>