<div class="fond">
    <div id="composant">
        <div class="formelement">
            <h1>Formulaire :</h1>
            <h2>Prénom:</h2>{{ getLastFormData.get('lastName').value }}
            <h2>Nom:</h2>{{ getLastFormData.get('firstName').value }}
            <h2>Âge:</h2>{{ getLastFormData.get('age').value }}
            <h2 *ngIf="getLastFormData.get('email').value != ''">Email:{{ getLastFormData.get('email').value }}
            </h2>
            <h2>Commentaire: {{ getLastFormData.get('comment').value }}</h2>
        </div>
        <ng-template #noData>
            <h2>404 Not Found</h2>
        </ng-template>
    </div>
</div>